@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);

* {
    color: #444;
    font-size: 1.5em;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection {color:#a1c5ab;background-color:#d11e48;}
::-moz-selection {color:#a1c5ab;background-color:#d11e48;}

h1 {
    font-size: 4em;
    line-height: 1.33333em;
    margin: 0.33333em 0;
    font-size-adjust: 0.55;
    font-weight: normal;
    font-style: normal;
    color: #A1C5AB;
    padding-right: 0.25em;
    padding-left: 0.25em;
    background-color: #D11E48;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transform: skew(0, -2deg);
    -moz-transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -o-transform: skew(0, -2deg);
    transform: skew(0, -2deg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
    font-size: 2em;
    line-height: 1.33333em;
    margin: 0.33333em 0;
    font-size-adjust: 0.55;
    font-weight: normal;
    font-style: normal;
    color: #A1C5AB;
    padding-right: 0.25em;
    padding-left: 0.25em;
    background-color: #D11E48;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transform: skew(0, -2deg);
    -moz-transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -o-transform: skew(0, -2deg);
    transform: skew(0, -2deg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bigtext {
    font-size: 1.5em;
    color: #A1C5AB;
    background-color: #D11E48;
    padding: 2px;
    margin: 10px 10px 10px 5px;
    -webkit-transform: skew(0, -2deg);
    -moz-transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -o-transform: skew(0, -2deg);
    transform: skew(0, -2deg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
ul.big {font-size: 1.5em;}
ul.big > li {
    margin: 0 0 5px 0;
}
ul.big > li:before {
    content: " =>| ";
    color: #D11E48;
}
ul.small {font-size: 1em;}
ul.small > li {
    margin: 5px 0 15px 45px;
}
ul.small > li > a {
    color: #3a393c !important;
    background-color: #fea;
    font-size: 0.6em;
    padding: 2px;
    margin: 10px 0 10px 5px;
    -webkit-transform: skew(0, -2deg);
    -moz-transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -o-transform: skew(0, -2deg);
    transform: skew(0, -2deg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#content { background: #000 }
.contenu {
    width: 900px;
    margin: 0 auto;
    margin-top: 200px;
}
.contenu p { line-height: 24px }
#house0 {
    background: #A1C5AB;
    text-align: center;
}
#house0 p {
    color: #632F53;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#house0 a {
    color: #632F53;
    text-decoration: none;
    font-weight: bold;
}
#house0 h1 { margin-bottom: 100px }
#house1,
#house2,
#house3,
#house4 { background: #A1C5AB; }
#house1 p,
#house2 p,
#house3 p,
#house4 p {
    color: #632F53;
    margin-bottom: 10px;
}
#house1 a,
#house2 a,
#house3 a,
#house4 a {
    color: #632F53;
    text-decoration: none;
    font-weight: bold;
}
#house1 h2,
#house2 h2,
#house3 h2,
#house4 h2 { margin-bottom: 40px; }
